body {
  background-color: gray;
  font-family: Arial, sans-serif;
  text-align: center;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.tarjeta {
  border: 3px solid black;
  padding: 15px;
  width: 200px;
  border-radius: 10px;
  background-color: white;
  transition: 0.3s;
}

h3 {
  color: green;
}

.azul {
  color: blue;
}

.rojo {
  color: rgb(156, 35, 35);
}

h5 {
  cursor: pointer;
  color: black;
  font-size: 0.9em;
}
